<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2009-2016 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
      mybatis generator自动生成
-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ibatis.base.UserMapper">

    <!--<cache readOnly="true"/>-->
    <resultMap id="iii" type="ibatis.base.User">

    </resultMap>
    <sql id="ssss">
        SELECT * from user;
    </sql>

    <select id="selectAllAuthors"
            resultType="ibatis.base.User">
        select * from user
    </select>

    <select id="selectById"
            resultType="ibatis.base.User">
        select * from user where id=#{id}
    </select>

    <select id="selectByIdAndAge"
            resultType="ibatis.base.User">
        select * from user where id=#{id} and age=#{age}
    </select>

    <select id="selectByUser" resultType="ibatis.base.User">
            select * from user where
        <if test="id != null">
            id=#{id}
        </if>
        <if test="age != null">
           and age=#{age}
        </if>
    </select>


</mapper>